[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule ".vim/bundle/vim-autopep8"]
	path = .vim/bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "vim-pug"]
	path = vim-pug
	url = git://github.com/digitaltoad/vim-pug.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/tomorrow-theme"]
	path = .vim/bundle/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug
[submodule "vim-sleuth"]
	path = vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule ".vim/bundle/FastFold"]
	path = .vim/bundle/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule ".vim/bundle/indentpython.vim"]
	path = .vim/bundle/indentpython.vim
	url = https://github.com/vim-scripts/indentpython.vim
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim/bundle/vim-sleuth"]
	path = .vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule ".vim/bundle/papercolor-theme"]
	path = .vim/bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule ".vim/bundle/onehalf"]
	path = .vim/bundle/onehalf
	url = https://github.com/sonph/onehalf
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "incsearch.vim"]
	path = incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "incsearch-easymotion.vim"]
	path = incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim
[submodule ".vim/bundle/incsearch.vim"]
	path = .vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule ".vim/bundle/incsearch-easymotion.vim"]
	path = .vim/bundle/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim
[submodule ".vim/bundle/vim-toml"]
	path = .vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
